body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'merriweather',serif;
}

           /* HEADING TAG */
h1{
    color: #66BFBF;
    font-size: 5.625rem; /* 1em=100%=16px so for 90% 90/16=562.5  */
    margin: 50px auto 0 auto;
    font-family: 'SAC',cursive;
    
}
h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    padding: 10px;
}
h3{ 
    color:#11999E;
    font-family: 'montserrat',sans-serif;

}
p{
    line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
a{
    color: #11999E;
    font-family: 'montserrat',sans-serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
    
}
a:hover{
    color: #EAF6F6;
}

.top-container{
    position: relative;
    padding-top: 50px;  
    background-color: #E4F9E5; 
    
}

.middle-container{ 
    margin: 100px 0 ;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    

}
.image{
    margin-left: 100px;
}

       /*cloud */

.top-cloud{
    position: relative;
    left: 220px;
}
.bottom-cloud{
    position: absolute;
}
.skills{
    background: url(https://media.istockphoto.com/photos/happy-coffee-cup-picture-id508347326?k=20&m=508347326&s=612x612&w=0&h=phdf_0eKqIbCj2ayXuXRktf8JGugJqFXdi6A8gBL6vU=);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: 100%;
     
     color: rgb(241, 240, 240);
     
     

}
.skill-row
{  

margin: 100px auto 100px auto ;
padding-bottom: 50px;
width: 50%;
text-align: left;
}

/* image */
.focus{
    margin:auto 30px auto 20px; 
    width: 30%;
    float: right;
    position: relative;
    bottom: 40px;
}
.computer{
    margin:auto 30px auto 20px; 
    width: 25%;
    float: left;
}
.contact-message{
       width: 40%;
       margin: 40px auto 60px;

}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #1e97e8);
    background-image: -moz-linear-gradient(top, #30e3cb, #1e97e8);
    background-image: -ms-linear-gradient(top, #30e3cb, #1e97e8);
    background-image: -o-linear-gradient(top, #30e3cb, #1e97e8);
    background-image: linear-gradient(to bottom, #30e3cb, #1e97e8);
    text-decoration: none;
  }
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px 20px;
}

@media   (max-width:619px){
    .top-container{
        background-color: rgb(194, 221, 247);
        
    }
    body{
        text-align: center;
        font-family: arial ,cursive;
        width: 600px;
    }
    .skills{
        background-size: 220%;

    }
     .focus{
        width: 100%;
    }
    .computer{
        width: 80%;
        padding-bottom: 100px;
    }
    
    
}